
.jumbotron{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.card-title{
    background-color:#4f5051;
    color: white;
    font-size: 20px;
    
}
#add-train-btn{
    background-color: #4f5051;
    color: white;
    border-color: white;
    font-family: 'Times New Roman', Times, serif;
}
#add-train-btn:hover{
    background-color:white;
    color:  black;
    border:  2px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.panel-title{
  background-color:grey;
  padding: 10px 0px 10px 0px;
  margin-top: 40px;
  border: solid white 2px;
  font-size: 18px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}
.containerr{
    border: solid grey 1px;
}